body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background: #1a1919;
    padding: 20px;
    border-radius: 15px;
}

.title{
    color: whitesmoke;
    font-weight: 800;
    font-size: xx-large;
}

.input-container{
    padding: 10px;
    border-radius: 10px;
}

.task-entry{
    border: none;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    color: azure;
}

.task-entry:focus{
    /* outline: solid 2px rgb(83, 25, 138); */
    outline: none;
    transition: all;
}

#register-task{
    background-color: rgb(83, 25, 138);
    border: none;
    color: antiquewhite;
    padding: 8px;
    border-radius: 10px;

}

#to-do-list{
    list-style-type: none;
    padding: 0;
    font-size: large;
    width: 300px;
    border: 0;
    margin: 0;
}

#to-do-list li {
    padding: 8px 12px;
    margin-bottom: 6px;
    background: rgb(65, 65, 65);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#to-do-list li.completed{
    background: rgb(29, 29, 29);
}

#to-do-list li.completed span {
    text-decoration: line-through;
    color: #7c7979;
}


.delete-btn {
    background: #e74c3c;
    color: #fff;
    border: none;
    padding: 4px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#logo-text{
    color: rgb(83, 25, 138);
}

#to-do-list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: rgb(245, 245, 245);
}
